html,body{
	margin:0px;
	padding: 0px;
	scroll-behavior: smooth;
	overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: black;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: #ff8c00;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid black;  /* creates padding around scroll thumb */
}
#Intro{
	height: 595px;
	background:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.6)),url("img/bg3.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
} 
#Intro div h1{
	margin-left: 20px;
	margin-top: 1px;
	padding-top: 18px;
}
#Intro h4{
	margin-left: 20px;
}
#Intro p button{
	margin-left:20px;
}
#nav-mobile li:hover{
	border-top: solid 2px #ff8c00;
}
h3{
	font-family: 'Poppins', sans-serif;
	text-align:center;
	width: 100%;
}
h3:after {
    content: ""; 
    display: block; 
    margin: 0 auto;
    width: 10%;
    padding-top: 20px; 
    border-bottom: 2px solid #ee8300;
}
meter {
  width: 580px;
  height: 30px;
}
#Skills div label{
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
}
.input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }
   #dropdown1{
   	overflow-y: hidden;
   }
   #dropdown1 li:hover{
   	background-color: #ff8c00;
   }
   button{
   	background-color: #ff8c00;
   	box-shadow: 3px 5px;
   	transition: transform 0.2s ease;
   }
   button:hover{
   	transform: scale(0.9);
   }
   @media screen and (max-width: 480px){
   		#Intro h1{
   			font-size: 32px;
   		}
   		#Intro{
   			padding-top: 60px;
   		}
   		#Intro h4{
   			font-size: 24px;
   		}
   		#Skills div label{
   			font-size: 16px;
   		}
   }
